<nav class="km-tabs">
    <ul>
        {{#each this}}
            <li class="{{#if active}}km-tab-active{{/if}}">
                <a data-action="{{action}}" href="#"
                   data-link="{{link}}">{{label}}</a></li>
        {{/each}}
    </ul>
</nav>