.km-tabs {
    position: relative;
    z-index: 1;

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        box-shadow: 0 5px 10px 0 #111;
        border-bottom: 1px solid;

        li {
            flex: 1;
            text-align: center;
            list-style-type: none;
            margin-bottom: 0;
            line-height: 40px;

            a {
                display: block;
                color: white;
            }

            &.km-tab-active {
                background-color: var(--color-warm-1);
                color: white;
                box-shadow: 0 0 10px #222;
                z-index: 1;

                a {
                    color: black;
                }
            }
        }
    }
}