<div class="actor-wrapper">
    <header class="actor-header">Favorite Meal</header>
    <div class="actor-subheader">
        <select>
            <option>Jeweled Rice</option>
        </select>
    </div>
    <div class="actor-image-container">
        <img src="{{actor.image}}" title="{{actor.name}}" class="actor-image" data-uuid="{{actor.uuid}}">
    </div>
    <div class="actor-check">
        <select>
            <option>Basic Meal</option>
            <option>Special Meal</option>
            <option>Rations/Subsistence</option>
            <option>Nothing</option>
        </select>
    </div>
</div>
