<div class="actor-wrapper">
    <div class="actor-image-container">
        <img src="{{actor.image}}" title="{{actor.name}}" class="actor-image" data-uuid="{{actor.uuid}}">
    </div>
    <div class="actor-check">
        <select>
            <option>Meal</option>
            <option>Rations/Subsistence</option>
        </select>
    </div>
</div>
