<div>
    <h1>Recipes Learnable in Zone</h1>
    <table class="km-table">
        <thead>
        <tr>
            <th>Recipe</th>
            <th>DC</th>
            <th>Cost</th>
            <th>Learn</th>
        </tr>
        </thead>
        <tbody>
        {{#each recipes}}
            <tr>
                <td>{{{recipe}}}</td>
                <td>{{cookingLoreDC}}</td>
                <td>{{ingredients}}</td>
                <td>
                    <button class="learn-recipe-button" data-recipe="{{recipeName}}">Learn</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
