<h2>Available actors</h2>
<!-- clicking on an actor opens the character sheet -->
<ul class="available-actors">
    {{#each actors}}
        <li><img src="{{image}}"><button><i class="fa-solid fa-xmark"></i></button></li>
    {{/each}}
    <li>
        <img src="generic" alt="Add"></i>
    </li>
</ul>

<h2>Activities</h2>

Choose a maximum of 4 total

<section>
    <header>Camouflage Camp</header>
    <img>
    <button><i class="fa-solid fa-d20"></i></button>
    <button><i class="fa-solid fa-xmark"></i></button>
</section>

<h2>Cooking</h2>

<h2>Watch</h2>
