<form>
    {{#if sections}}
        {{#each sections}}
            <fieldset>
                <legend>{{legend}}</legend>
                {{#each formRows}}
                    <div class="row">
                        {{> formElement this }}
                    </div>
                {{/each}}
            </fieldset>
        {{/each}}
    {{else}}
        {{#each formRows}}
            <div class="row">
                {{> formElement this }}
            </div>
        {{/each}}
    {{/if}}
</form>