.km-check-dialog {
    .km-no-button-margin {
        i {
            margin-right: 0;
        }
    }
}

.km-check-header, .km-check-adjustments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.km-check-modifier-entry {

}
.km-check-roll {
    button i {
        margin-left: .5em;
        margin-right: 0;
    }
    display: flex;
    justify-content: space-between;
}