ul.km-add-events {
    overflow: auto;
    height: calc(100vh - 300px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.2em;

    details {
        margin: 1em 0 0 0;
        border: 1px solid;
        border-radius: .5em;
        padding: .6em 1em;

        summary {
            span {
                cursor: pointer;
            }

            display: flex;
            align-items: center;

            button {
                margin-left: auto;
                width: auto;
            }
        }

        .km-event-traits {
            display: flex;
            padding: 0;
            list-style-type: none;
            gap: 0.2em;

            li {
                padding: .5em;
                border: 1px solid;
            }

            margin: .5em 0 1em;
        }

        .km-add-event-description {
            margin-top: 0.5rem;
            border-top: 1px solid;
        }

        .km-event-degrees li,
        p {
            line-height: 1.5;
        }

        ul li button {
          margin-top: .2em;
        }

        button {
            display: inline-block;
        }
    }
}