<div>
    <header class="km-kingdom-sheet-header">
        <div class="km-kingdom-sheet-name">{{> formElement kingdomNameInput }}</div>
        <div class="km-kingdom-sheet-active-settlement">{{> formElement settlementInput }}</div>
        <div class="km-kingdom-sheet-active-xp">{{> formElement xpInput }}</div>
        <div class="km-kingdom-sheet-active-xp-threshold">{{> formElement xpThresholdInput }}</div>
        <div class="km-kingdom-sheet-active-level">{{> formElement levelInput }}</div>
        <div class="km-kingdom-sheet-active-fame">{{> formElement fameContext.now }}</div>
        <div class="km-kingdom-sheet-active-fame-next">{{> formElement fameContext.next }}</div>
    </header>

    <nav class="km-kingdom-sheet-main-nav">
        <ul>
            {{#each mainNav}}
                <li><a class="{{#if active}}active{{/if}}" data-action="change-nav" href="#" data-link="{{link}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </nav>

    <main class="km-kingdom-sheet-main">
        {{> kingdom-character-sheet this}}
        {{> kingdom-notes this}}
        {{> kingdom-turn this}}
        {{> kingdom-trade-agreements this}}
        {{> kingdom-settlements this}}
        {{> kingdom-modifiers this}}
    </main>
</div>