.theme-light {
    #kmKingdomSheet {
        aside, main {
            background-color: var(--background);
        }
    }
}

.theme-dark {
    #kmKingdomSheet {
        aside, main {
            background-color: rgba(11, 10, 19, .95);
        }
    }
}

#kmKingdomSheet {
    .window-content {
        padding: 0;
    }

    .km-kingdom-sheet-content-wrapper {
        background-image: url("../../../img/camping/backgrounds/urban-day.webp");
        display: flex;
        background-size: cover;
        height: calc(100vh - 310px);

    }

    aside {
        min-width: 300px;
        border-radius: 10px;
        margin: 10px 0 10px 10px;
        padding: 1em;
        overflow: auto;
    }

    main {
        height: 600px;
        overflow: auto;
        border-radius: 10px;
        margin: 10px;
        padding: 1em;
    }

    .km-kingdom-sheet-header {
        display: flex;

        .km-kingdom-sheet-name {
        }

        .km-kingdom-sheet-active-settlement {
        }

        .km-kingdom-sheet-active-xp {
        }

        .km-kingdom-sheet-active-xp-threshold {
        }

        .km-kingdom-sheet-active-level {
        }

        .km-kingdom-sheet-active-fame {
        }

        .km-kingdom-sheet-active-fame-next {
        }
    }

    nav.km-main-nav {
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;


            a {
                padding: .5em 1em;
                /*text-decoration: none;*/
                /*color: white;*/
                /*background-color: var(--primary-km);*/
            }
        }
    }

    /* kingdom */


    .km-kingdom-sheet-kingdom {
        nav {
            ul {
                display: flex;
                gap: .5em;
                margin: 0 0 2em 0;
                padding: 0;
                list-style-type: none;
                font-size: .8em;

                li:nth-child(2) {
                    margin-left: auto;
                }

                a {
                    border: 1px solid;
                    border-radius: .5em;
                    padding: .5em;
                    text-decoration: none;

                    &:hover, &.active {
                        border: 1px solid;
                        color: var(--color-dark-1);
                        background-color: var(--color-warm-1);
                    }
                }
            }
        }

        h2 {
            display: flex;
            font-size: 2em;
        }

        details {
            margin: 1em 0;
            border: 1px solid;
            border-radius: 1em;
            padding: 1em;

            p {
                border-top: 1px solid;
                padding-top: 1em;
            }
        }

        .km-kingdom-sheet-kingdom-section {
            margin-top: 3em;
        }

        .km-government-pick-label {
            margin-left: 5em;
        }

        .km-choose-boosts,
        .km-choose-ruins {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;
                gap: 1.5em;
            }
        }

        .km-header-right-align {
            margin-left: auto;
        }
    }


}