.theme-light {
    .km-kingdom-sheet {
        .km-kingdom-sheet-sub-nav,
        .km-kingdom-sheet-sub-content,
        .km-kingdom-sheet-sidebar,
        .km-choose-leaders li {
            background-image: url('../../../../../ui/parchment.jpg');
            border-radius: 5px;
            border: 1px solid;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
        }
    }
}

.theme-dark {
    .km-kingdom-sheet {
        .km-kingdom-sheet-sub-nav,
        .km-kingdom-sheet-sub-content,
        .km-kingdom-sheet-sidebar,
        .km-choose-leaders li {
            background-color: rgba(11, 10, 19, .95);
            border-radius: 5px;
            border: 1px solid;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
        }
    }
}

.km-kingdom-sheet {
    .window-content {
        padding: 0;
    }

    .km-width-small {
        width: 54px !important;;
    }

    .km-width-medium {
        width: 120px !important;
    }

    .km-slim-inputs input,
    .km-slim-inputs select,
    select.km-slim-inputs,
    input.km-slim-inputs {
        option {
            background-color: var(--background);
        }

        background: transparent;
        border-bottom: 1px solid;
        border-radius: 0;

        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            border-bottom: 1px solid
        }
    }

    .km-kingdom-sheet-header {
        display: flex;
        border-bottom: 1px solid;
        justify-content: space-between;
        padding: 1em;

        .km-xp-level-section {
            display: flex;
        }

        .km-kingdom-sheet-name {
            display: flex;
            align-items: center;
            i {
                margin-right: .5em;
                font-size: 24px;
            }
        }

        .km-kingdom-sheet-active-settlement {
        }

        .km-kingdom-sheet-active-xp {
            display: flex;
            align-items: center;
            margin-right: 3em;
        }

        .km-fame {
            display: flex;
            gap: 1em
        }
    }

    .km-kingdom-sheet-main {
        background-image: url("../../../img/camping/backgrounds/hills-day.webp");
        display: flex;
        background-size: cover;
        height: calc(100vh - 220px);
        position: relative;
        z-index: 0;
    }

    .km-kingdom-sheet-sidebar {
        border-radius: 10px;
        margin: 10px 0 10px 10px;
        padding: .5em;
        overflow: auto;

        .km-sidebar-spacer {
            height: 1em;
        }

        .km-skill-checks {
            td:last-child {
                text-align: right;
            }
            td {
              button {
                  width: 60px;
                  i {
                      margin-left: .25em;
                  }
              }
            }
        }

        .km-unrest-ruin {
            border-radius: 0;
            border: 0;
            td {
                text-align: center;
                padding: 3px;
                .km-threshold-value {
                    width: 54px;
                }
                &.km-capacity {
                    padding-right: 34px;
                }
            }
        }
    }

    .km-kingdom-sheet-sidebar-kingdom {
        min-width: 256px;
    }

    .km-kingdom-sheet-sidebar-turn {
        min-width: 300px;
    }

    .km-kingdom-sheet-content {
        flex-grow: 1;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .km-kingdom-sheet-sub-nav {
        margin-bottom: 10px;

        ul {
            font-size: .8em;

            &.km-grow-subnav {
                li {
                    flex-grow: 1;

                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            &.km-center-middle {
                li:first-child,
                li:last-child {
                    flex-grow: 2;
                }

                li:last-child {
                    a {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    .km-kingdom-sheet-main-nav {
        ul {
            justify-content: center;
        }

        border-bottom: 1px solid;
        border-top: 1px solid;
        box-shadow: 0 4px 4px 0 #00000082;
        z-index: 1;
        position: relative;
    }

    .km-kingdom-sheet-sub-nav,
    .km-kingdom-sheet-main-nav {
        padding: .5em;

        ul {
            display: flex;
            gap: .5em;
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                display: flex;
                margin: 0;
            }

            a {
                border: 1px solid;
                border-radius: .5em;
                padding: .5em;
                text-decoration: none;

                &:hover, &.active {
                    border: 1px solid;
                    color: var(--color-dark-1);
                    background-color: var(--color-warm-1);
                }
            }
        }
    }

    .km-kingdom-sheet-sub-content,
    .km-kingdom-sheet-sub-nav {
        border-radius: 10px;
    }

    .km-kingdom-sheet-sub-content {
        overflow: auto;
        padding: 1em;

        .km-gain-lose {
            display: inline-block;
            margin: 2px 0;
        }

        p, .km-kingdom-activity-description li {
            line-height: 1.5;
        }

        details {
            margin: 1em 0 0 0;
            border: 1px solid;
            border-radius: .5em;
            padding: .6em 1em;

            .km-detail-description {
                border-top: 1px solid;
                padding-top: 1em;
            }
        }

        td, th {
            text-align: left
        }

        .km-kingdom-sheet-section:not(:nth-of-type(1)) {
            margin-top: 3em;
        }

        .km-header-right-align {
            margin-left: auto;
            margin-top: -4px;

            select {
                margin-top: -4px;
            }
        }

        h2 {
            display: flex;
            font-size: 2em;
        }

        table {
            button {
                margin: inherit;
            }
        }

        button {
            height: 30px;
            margin-left: 5px;

            i {
                margin-right: 0;
            }
        }
    }

    .km-kingdom-sheet-notes {

        section:last-child {
            margin-top: 3em;
        }

        .editor {
            border-radius: 10px;
            border: 1px solid;
            min-height: 250px;
        }

        .editor-content {
            border-radius: 10px;
            min-height: 220px;
            padding: 1em;
            overflow-y: scroll;
        }
    }

    .km-kingdom-sheet-turn {
        .km-activity-label {
            cursor: pointer;
        }

        .km-upkeep-button {
            font-size: 1.2em;
            display: flex;
            align-items: center;
            gap: .5em;
            margin: 1em 0 0 0;
            border: 1px solid;
            border-radius: .5em;
            padding: .6em 1em;

            button {
                margin-left: auto;

                i {
                    margin-left: .25em;
                }
            }
        }

        .km-kingdom-activities {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .km-kingdom-activity {
            details {
                summary {
                    font-size: 1.2em;
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    .km-activity-controls {
                        display: flex;
                        margin-left: auto;
                    }

                    button {
                        i {
                            margin-left: .25em;
                        }
                    }
                }
            }

        }
    }

    .km-kingdom-sheet-kingdom {
        .km-choose-leaders {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            list-style-type: none;
            padding: 0;
            gap: 1em;

            li {
                margin: 0;

                header {
                    font-weight: bold;
                    padding: .5em;
                    border-bottom: 1px solid;
                    display: flex;

                    .km-leader-bonus {
                        margin-left: auto;
                    }
                }

                .km-leader-portrait {
                    position: relative;

                    &:hover button {
                        display: flex;
                    }

                    button {
                        display: none;
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        font-size: 1.5em;
                        top: .3em;
                        right: .3em;
                        background-color: black;
                        border: 0;
                        border-radius: 100%;
                    }
                }

                img {
                    height: 11em;
                    width: 11em;
                    object-fit: cover;
                    object-position: top center;
                    border-radius: 0;
                    display: block;
                    cursor: pointer;
                }

                select {
                    border-top: 1px solid;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }

                label {
                    padding: 3px 13px;
                    border-top: 1px solid;

                    input {
                        margin-right: 0;
                    }
                }

                .km-choose-leader-placeholder {
                    position: relative;
                    height: 11em;
                    width: 11em;
                    box-shadow: inset 0 0 5px 2px #5c5c5c;
                    display: flex;

                    &:hover span {
                        display: block;
                    }

                    span {
                        display: none;
                        position: absolute;
                        font-size: 1.2em;
                        text-align: center;
                        margin: 0 4px;
                        top: .4em;
                    }

                    i {
                        margin: auto;
                        font-size: 3em;
                    }
                }
            }
        }

        .km-government-pick-label {
            margin-left: 5em;
        }

        .km-choose-skills {
            margin-top: 1em;

            ul {
                width: 100%;
                justify-content: space-around;
            }
        }

        .km-choose-boosts,
        .km-choose-skills,
        .km-choose-ruins {
            display: flex;
            justify-content: space-between;

            ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;
                gap: 1.5em;
            }
        }
    }

    .km-kingdom-sheet-turn {
        .km-turn-buttons {
            display: flex;
            align-items: flex-end;

            button {
                flex-grow: 1;
            }
        }
    }
}