<div>
    <h1>Armies</h1>
    <p>Armies are implemented as NPC stat blocks because attacks and rule elements already work like out of the box. The
        following stats are present in the following locations:</p>
    <ul>
        <li><b>Name</b>: Name</li>
        <li><b>Level</b>: Level</li>
        <li><b>Alignment</b>: Alignment</li>
        <li><b>Rarity</b>: Rarity</li>
        <li><b>Traits</b>: The row below traits (no support for army traits yet in the pf2e system)</li>
        <li><b>Scouting</b>: Perception</li>
        <li><b>Recruitment/Standard DC</b>: Fortitude</li>
        <li><b>Consumption</b>: Con</li>
        <li><b>Description</b>: -</li>
        <li><b>AC</b>: AC</li>
        <li><b>Maneuver</b>: Reflex</li>
        <li><b>Morale</b>: Will</li>
        <li><b>HP</b>: HP</li>
        <li><b>Rout Threshold</b>: Str</li>
        <li><b>Melee</b>: Generated from Army Melee Weapons</li>
        <li><b>Ranged</b>: Generated from Army Ranged Weapons</li>
        <li><b>Tactics</b>: Passive Abilities ending in (Tactic X) where X is the level</li>
        <li><b>Gear</b>: Items in Inventory (RP is equal to gold pieces)</li>
        <li><b>Special Abilities</b>: Passive Abilities</li>
        <li><b>Ammunition</b>: Ammunition Army Gear, automatically reset to 5 (more with Increased Ammunition) at begin
            of combat
        </li>
        <li><b>Maximum Tactics</b>: Shown in your Kingdom sheet in the <b>Train Army</b> help section</li>
    </ul>
    <p>To create an army, follow the following steps</p>
    <ul>
        <li>Create a new NPC</li>
        <li>Drag a token of it onto the canvas</li>
        <li>Use the <b>Edit Army Statistics</b> Macro</li>
        <li>Delete the token</li>
        <li>Open the NPC actor from the sidebar</li>
        <li>Go to Inventory</li>
        <li>Click <i class="fa-solid fa-bolt fa-fw"></i> next to the items to generate attacks</li>
        <li>Adjust the army level (if it's one, change it to 2 and then back to 1 to update the modifiers correctly)
        </li>
        <li>Add Alignment, Rarity, Consumption, Route Threshold, HP, Tactics and Gear</li>
        <li>Drag a token onto the sheet</li>
        <li>Run <b>Edit Army Statistics</b> Macro for final adjustments</li>
    </ul>
    <p><b>Keep in mind</b>: NPC sheets are unlinked actors by default, meaning that changes to their base actor will
        only
        be
        synced to their actors, if they weren't overridden. This means that you should <b>always edit their level on the
            original actor</b> (in the actor sidebar rather than on the token).</p>
    <p>To adjust for Battlefield Terrain Features, this module ships a variety of effects that can be pulled from the
        <b>Battlefield Terrain Features</b> compendium.</p>

    <h2>Automation Notes</h2>
    <p>Kingdom Sheet:</p>
    <ul>
        <li>Any conditions that apply to Army Activities do not gain modifiers in the Kingdom sheet</li>
    </ul>
    <p>Tactics:</p>
    <ul>
        <li><b>Self-Sufficient</b>: not automated</li>
    </ul>
    <h2>Homebrew Errata</h2>
    <ul>
        <li><b>Guard</b>: This action reads very similar to <b>Raise Shield</b> yet gives you an item bonus instead
            of a circumstance bonus. This action therefore becomes absolute once you obtain +2 armor. This was changed
            to a circumstance bonus instead
        </li>
        <li><b>Wyvern Flight</b>: Changed attack modifier to 26 instead of way too low 18</li>
        <li><b>Lizardfolk Defenders</b>: Changed attack modifier from 12 to 15 since there were no adjusted stats</li>
        <li><b>M'Botuu Frog Riders</b>: Changed ac from 27 to 30 since there were no adjusted stats</li>
    </ul>
</div>