<div {{#if (ne currentNavEntry 'modifiers')}}hidden{{/if}} class="km-kingdom-sheet-content">
    <div class="km-kingdom-sheet-sub-content km-kingdom-sheet-modifiers">
        <section>
            <h2>Modifiers  <span class="km-header-right-align"><button type="button" data-action="add-modifier"><i class="fa-solid fa-plus"></i></button></span></h2>
            <table>
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Turns</td>
                    <td>Consumed</td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                {{#each modifiers}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{turns}}</td>
                        <td>{{#if isConsumedAfterRoll}}<i class="fa-regular fa-circle-check"></i>{{/if}}</td>
                        <td><button type="button" data-action="delete-modifier" data-index="{{@index}}">
                            <i class="fa-solid fa-trash"></i>
                        </button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </section>
    </div>
</div>