<div>
    <form class="form-table">
        <div class="form-row">
            <label for="recipe">Recipe</label>
            <select name="selectedRecipe" id="recipe">
                {{#select selectedRecipeName}}
                {{#each recipes}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-row">
            <label for="servings">Servings</label>
            <input type="number" id="servings" value="{{servings}}" name="servings">
        </div>
        <div class="form-row">
            <label for="skill">Skill</label>
            <select name="selectedSkill" id="skill">
                {{#select selectedSkill}}
                {{#each skills}}
                <option value="{{this.attribute}}">{{this.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </form>
    <table class="stats">
        <thead>
        <tr>
            <th>Name</th>
            <th>Survival</th>
            <th>Cooking Lore</th>
            <th>Basic</th>
            <th>Special</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{{recipeLink}}}</td>
            <td>{{selectedRecipe.survivalDC}}</td>
            <td>{{selectedRecipe.cookingLoreDC}}</td>
            <td>{{selectedRecipe.basicIngredients}}</td>
            <td>{{selectedRecipe.specialIngredients}}</td>
        </tr>
        </tbody>
    </table>

    <div class="buttons">
        <button id="cook-button"><i class="fa-solid fa-dice-d20"></i>Cook</button>
    </div>
</div>
