<div>
    <form>
        <div class="form-row">
            <label for="region-input">Region</label>
            <select name="region" id="region-input">
                {{#select currentRegion}}
                {{#each regions}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-row">
            <label for="modifier-input">Encounter DC modifier</label>
            <input id="modifier-input" type="number" name="modifier" value="{{currentEncounterDCModifier}}">
        </div>
    </form>
    <table class="encounter-stats">
        <thead>
        <tr>
            <th>Level</th>
            <th>Zone DC</th>
            <th>Encounter DC (+{{currentEncounterDCModifier}})</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{level}}</td>
            <td>{{zoneDC}}</td>
            <td>{{encounterDC}}</td>
        </tr>
        </tbody>
    </table>
    <div class="buttons">
        <button id="reset-dc"><i class="fa-solid fa-rotate-left"></i>Reset DC</button>
        <button id="roll-encounter-no-check"><i class="fa-solid fa-dice-d20"></i>Roll</button>
        <button id="roll-encounter"><i class="fa-solid fa-dice-d20"></i>Check</button>
    </div>
</div>
