.km-content .editor {
    min-height: 100px;
}

.km-name input {
    width: 100%;
}

.km-hp {

}

.km-hp input {
    width: 76px;
}

.km-shots {
    width: 84px;
}

.km-shots input {
    width: 30px;
}

/* actions */
.km-army-action-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1.5em;
    margin-top: 15px;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.km-army-action-name {
    font-weight: bold;
}

.km-army-action-icon {
    font-family: Pathfinder2eActions;
}

.km-army-traits {
    margin: 5px 0 0 0;
    display: flex;
    padding: 0;
}

.km-army-traits > li {
    list-style-type: none;
    background-color: #789035;
    color: white;
    font-weight: bold;
    border-right: 2px solid #b29e74;
    padding: 5px;
}

.km-army-traits > li:first-of-type {
    border-left: 2px solid #b29e74;
}

.km-army-action-results {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    list-style-type: none;
}

/* Gear */
.km-army-gear {
    margin-top: 15px;
}
.km-army-gear-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1.5em;
    margin-top: 15px;
    border-bottom: 1px solid black;
    padding: 5px 0;
}
.km-army-gear-level {
    margin-left: auto;
}

.km-army-gear-quantity label {
    font-weight: bold;
}

.km-army-gear-quantity input {
    width: 35px;
    margin: 0 5px;
    text-align: center;
}
