:root {
    --actor-image-height: 220px;
    --actor-image-width: calc((var(--actor-image-height) / 4) * 3);
    --actor-image-sidebar-height: 120px;
    --actor-image-sidebar-width: calc((var(--actor-image-sidebar-height) / 4) * 3);
}

.camping-sheet {
    display: grid;
    height: 100%;
    grid-template-areas: "header header" "sidebar content";
}

/* fix for flexbox disregarding html hidden attribute */
.camping-sheet [hidden] {
    display: none !important;
}

.camping-sheet img {
    border-radius: 0;
    border: 0;
}

.camping-sheet select {
    height: 36px;
}


.camping-sheet .label,
.camping-sheet label {
    font-weight: bold;
}

.camping-header {
    grid-area: header;
    border-bottom: 1px solid #000;
}

.camping-sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    width: 136px;
    padding: 10px 5px;
}

.chosen-camping-activity {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    background-color: white;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #000;
    border-left: 0;
    padding: 5px 2px;
}

.chosen-camping-activity.secret {
    color: black;
    background-color: #aaa;
}

.chosen-camping-activity.criticalSuccess {
    color: white;
    background-color: #244cb3;
}

.chosen-camping-activity.success {
    background-color: #7d8fb3;
}

.chosen-camping-activity.failure {
    background-color: #cc8f8f;
}

.chosen-camping-activity.criticalFailure {
    color: white;
    background-color: #cc2929;
}

.new-camping-actor {
    position: relative;
}

.new-camping-actor-label {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    top: calc((var(--actor-image-sidebar-height) / 2) - 9px);
    font-size: 12px;
    text-align: center;
    width: var(--actor-image-sidebar-width);
}

.new-activity-actor-label {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px black;
    top: calc((var(--actor-image-height) / 2) - 9px);
    font-size: 12px;
    text-align: center;
    width: var(--actor-image-width);
}

.camping-actor {
    display: flex;
    height: var(--actor-image-sidebar-height);
}

.camping-actor img {
    border: 1px solid #000;
}

.camping-content {
    padding: 10px 5px 30px 5px;
    grid-area: content;
    overflow-y: auto;
}

.camping-header .time {
    height: 30px;
    position: relative;
    background: linear-gradient(
            to right,
            rgb(32, 38, 57) 0%, /* 0:00 */ rgb(63, 76, 119) 15%, /* 3:00 */ rgba(185, 91, 229, 1) 20%, /* 5:00 */ #ff8f8f 25%, /* 6:00 */ #AFF1DA 33%, /* 8:00 */ #F9EA8F 50%, /* 12:00 */ #AFF1DA 66%, /* 16:00 */ #ff8f8f 75%, /* 18:00 */ rgba(185, 91, 229, 1) 79%, /* 19:00 */ rgb(63, 76, 119) 85%, /* 21:00 */ rgb(32, 38, 57) 100% /* 24:00 */
    )
}

.camping-header .time-marker {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .5);
    width: 30px;
    text-align: center;
    line-height: 30px;
}

.camping-section-header {
    display: flex;
    border-bottom: 1px solid #275125;
    border-top: 1px solid #275125;
    margin: 25px 0 15px 0;
    padding: 1px 0;
}

.camping-section-header h2 {
    flex-grow: 1;
    border-bottom: 0;
    margin-bottom: 0;
    line-height: 2;
}

.camping-section-header .camping-gm-buttons {
    flex-basis: fit-content;
    display: flex;
}

.camping-section-header .camping-user-buttons {
    flex-basis: fit-content;
    display: flex;
}

.camping-section-header button {
    flex-basis: fit-content;
}

/* camping actors component */
.camping-actors {
    list-style-type: none;
    display: flex;
    row-gap: 20px;
    column-gap: 6px;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.camping-sidebar .camping-actors {
    flex-direction: column;
}

.camping-content .camping-actors {
    flex-direction: row;
}


.adventuring-since {
    margin-right: 10px;
}

.camping-sheet h2 button {
    width: auto;
    float: right;
    margin-top: -6px;
}

.camping-cook {
    display: flex;
    justify-content: space-between;
}

.cook-warning {
    text-align: center;
}

.camping-cook > * {
    display: flex;
    column-gap: 5px;
}

.camping-cook select {
    max-width: 150px;
}

.camping-cook span {
    line-height: 36px;
}

.camping-cook button {
    width: auto;
}

.resting-progress {
    display: flex;
}

/* activity partial */

.camping-content .actor-image-container {
    position: relative;
    width: var(--actor-image-width);
}

.camping-content .camping-actors .actor-image,
.camping-content .camping-actors .no-actor-image {
    height: var(--actor-image-height);
    width: var(--actor-image-width);
    display: block;
}

.camping-sidebar .camping-actors .no-actor-image {
    border: 1px solid #000;
}


.camping-sidebar .actor-image-container {
    position: relative;
    width: var(--actor-image-sidebar-width);
}

.camping-sidebar .camping-actors .actor-image,
.camping-sidebar .camping-actors .no-actor-image {
    height: var(--actor-image-sidebar-height);
    width: var(--actor-image-sidebar-width);
}

.actor-image-container .remove-actor {
    position: absolute;
    top: -9px;
    right: -10px;
    opacity: 1;
    background-color: #cb0808;
    border: 0;
    color: white;
    border-radius: 100%;
}

.actor-image-container .remove-actor i {
    margin: 0;
}

.actor-subheader {
    display: flex;
}

.actor-subheader select {
    flex-grow: 1;
    max-width: var(--actor-image-width);
}

.camping-actors button {
    width: 30px;
    display: block;
}

.camping-actors .actor-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.camping-actors .actor-check select {
    flex-grow: 1;
}

.camping-actors .actor-image {
    object-fit: cover;
    object-position: top center;
    cursor: pointer;
}

.camping-actors header {
    text-align: center;
    font-weight: bold;
    background-color: #789035;
    border-bottom: 1px solid #000;
    color: #fff;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--actor-image-width);
    white-space: nowrap;
}

.camping-actors header[data-uuid] {
    cursor: pointer;
}

.camping-actors .actor-wrapper {
    border: 1px solid #000;
    border-radius: 2px;
}

.camping-actors .actor-wrapper select {
    border-radius: 0;
}

.region-controls {
    display: flex;
}

.region-player-controls {
    display: flex;
    column-gap: 20px;
}

.region-gm-controls {
    display: flex;
    margin-left: auto;
    column-gap: 10px;
}

.region-gm-controls > *,
.region-player-controls > * {
    line-height: 34px;
    display: flex;
    column-gap: 2px;
}

.region-controls button {
    width: auto;
}

td.consume-warning {
    color: red;
}

.camping-sheet .cost-table input {
    width: 40px;
}

button.subsist {
    width: 100%;
}
