:root {
    --actor-image-height: 220px;
    --actor-image-width: calc((var(--actor-image-height)/4)*3);
    --actor-image-sidebar-height: 120px;
    --actor-image-sidebar-width: calc((var(--actor-image-sidebar-height)/4)*3);
}

.camping-sheet {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    grid-template-areas: "header header" "sidebar content";
}

.camping-header {
    grid-area: header;
}

.camping-sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    width: 115px;
    padding: 10px 5px;
}

.camping-content {
    padding: 10px 5px 30px 5px;
    grid-area: content;
    overflow-y: auto;
}

.camping-section-header {
    display: flex;
    border-bottom: 1px solid #275125;
    border-top: 1px solid #275125;
    margin: 25px 0 15px 0;
    padding: 1px 0;
}

.camping-section-header h2 {
    flex-grow: 1;
    border-bottom: 0;
    margin-bottom: 0;
    line-height: 2;
}

.camping-section-header .camping-gm-buttons {
    flex-basis: fit-content;
    display: flex;
}

.camping-section-header .camping-user-buttons {
    flex-basis: fit-content;
    display: flex;
}

.camping-section-header button {
    flex-basis: fit-content;
}

/* camping actors component */
.camping-actors {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 5px;
    flex-wrap: wrap;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.camping-sidebar .camping-actors {
    flex-direction: column;
}

.camping-content .camping-actors {
    flex-direction: row;
}

.adventuring-since .label,
.camping-header label {
    font-weight: bold;
}

.adventuring-since {
    margin-right: 10px;
}

.camping-sheet h2 button {
    width: auto;
    float: right;
    margin-top: -6px;
}

.camping-cook {
    display: flex;
    column-gap: 10px;
}

.resting-progress {
    display: flex;
}

/* activity partial */

.camping-content .actor-image-container {
    position: relative;
    width: var(--actor-image-width);
}

.camping-content .camping-actors .actor-image,
.camping-content .camping-actors .no-actor-image {
    height: var(--actor-image-height);
    width: var(--actor-image-width);
    display: block;
}

.camping-sidebar .actor-image-container {
    position: relative;
    width: var(--actor-image-sidebar-width);
}

.camping-sidebar .camping-actors .actor-image,
.camping-sidebar .camping-actors .no-actor-image {
    height: var(--actor-image-sidebar-height);
    width: var(--actor-image-sidebar-width);
}

.actor-image-container .remove-actor {
    position: absolute;
    top: -9px;
    right: -10px;
    opacity: 1;
    background-color: #cb0808;
    border: 0;
    color: white;
    border-radius: 100%;
}

.actor-image-container .remove-actor i {
    margin: 0;
}

.actor-subheader {
    display: flex;
}

.actor-subheader select {
    flex-grow: 1;
}

.camping-actors button {
    width: 30px;
    display: block;
}

.camping-actors .actor-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.camping-actors .actor-check select {
    flex-grow: 1;
    height: 36px;
}

.camping-actors .actor-image {
    object-fit: cover;
    object-position: top center;
    cursor: pointer;
}

.camping-actors header {
    text-align: center;
    font-weight: bold;
    background-color: #789035;
    color: #fff;
    padding: 5px;
}

.camping-actors header[data-uuid] {
    cursor: pointer;
}

.camping-actors .actor-wrapper {
    border: 1px solid #000;
    border-radius: 2px;
}

.camping-dialog {
    max-height: 520px;
    overflow: scroll;
}
