.kingmaker-tools-app form {
    display: table;
    border-spacing: 5px;
}

.kingmaker-tools-app .form-row {
    display: table-row;
}

.kingmaker-tools-app .form-row > * {
    display: table-cell;
}

.kingmaker-tools-app .stats {
    margin: 10px 0;
}


.kingmaker-tools-app .stats td {
    text-align: center;
}

.kingmaker-tools-app .buttons {
    display: flex;
}
