.kingmaker-tools-app .form-table {
    display: table;
    border-spacing: 5px;
}

.kingmaker-tools-app .form-row {
    display: table-row;
}

.kingmaker-tools-app .form-row > * {
    display: table-cell;
}

.kingmaker-tools-app .stats {
    margin: 10px 0;
}


.kingmaker-tools-app .stats td {
    text-align: center;
}

.kingmaker-tools-app .buttons {
    display: flex;
}

#stopwatch-app button {
    display: inline-block;
    width: auto;
    margin-left: 10px;
}

.kingmaker-tools-app .input-row {
    display: flex;
}

.kingmaker-tools-app .input-row label {
    flex: 0 0 auto;
    padding-right: 10px;
    line-height: 26px;
}

.kingmaker-tools-app.edit-structure-json form {
    height: 400px;
    width: 100%;
}

.kingmaker-tools-app.edit-structure-json textarea {
    height: 400px;
    width: 100%;
}


.kingmaker-tools-app .settlement-nav {
    flex: none;
    display: flex;
    margin-bottom: 10px;
}

.kingmaker-tools-app .settlement-nav a {
    flex: 0 0 50%;
    text-align: center;
    margin: 4px 0;
    border-top: 1px solid var(--color-border-light-primary);
    border-bottom: 1px solid var(--color-border-light-primary);
    padding: 8px 12px;
}

.kingmaker-tools-app .settlement-nav a.active {
    /*background-color: #ddd;*/
    /*border-top: 1px solid black;*/
    /*background-color: rgba(0, 0, 0, 0.05);*/
    text-shadow: 0 0 10px var(--color-shadow-primary);
}


.kingmaker-tools-app .sub-table th {
    text-align: left;
}

.kingmaker-tools-app .sub-table td {
    text-align: right;
    padding-right: 20px;
}


/*Kingdom Sheet*/

:root {
    --primary-km: #275125;
    --secondary-km: #789035;
    --untrained: #424242;
    --trained: #171f69;
    --expert: #3c005e;
    --master: #664400;
    --legendary: #5e0000;
    --sidebar-size: 301px;
}

.km-base-form {
    height: 100%;
}

.km-container {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidebar-size) auto;
    grid-template-rows: auto minmax(auto, 40px) auto;
    grid-gap: 0 10px;
}

.km-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.km-header .km-name {
    width: var(--sidebar-size);
}

.km-header input {
    display: inline-block;
    width: 100px;
}

.km-header .km-size input {
    display: inline-block;
    width: 50px;
}

.km-nav {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    background-color: var(--secondary-km);
    display: flex;
}

.km-nav a {
    display: inline-block;
    flex-grow: 1;
    color: #fff;
    text-decoration: none;
    line-height: 40px;
}

.km-nav a.active {
    color: var(--secondary-km);
    background-color: #fff;
}

.km-nav a:hover {
    text-shadow: none;
    text-decoration: underline;
}

.km-content {
    overflow-y: auto;
    padding: 5px 0;
}

.km-sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
    overflow-y: auto;
}

.km-table {
    width: 100%;
}

.km-table th {
    background-color: var(--primary-km);
    color: #fff;
    padding: 5px;
}

.km-table td {
    border: 1px solid var(--primary-km);
    padding: 5px;
    text-align: center;
}

.km-table td select {
    width: 100%;
    text-align: center;
}

.km-table td.left-align {
    text-align: left;
}

.kingmaker-tools-app .smaller-number-input {
    width: 80px;
}

td.skill-bonus {
    background-color: var(--secondary-km);
    color: #fff;
}

td.skill-penalty {
    background-color: #a81b1b;
    color: #fff;
}

td.skill-value {
}

.km-content button {
    margin: 2px 0;
}

.km-content h2 {
    margin: 10px 0;
}

.km-content button.icon-action {
    width: auto;
}

.activity-choice {
    display: flex;
}

.kingdom-event-list {
    list-style: none;
    margin: 0;
}

.turn-form-line {
    display: flex;
    gap: 10px;
    align-items: center;
}

.turn-form-line input {
    flex-grow: 1;
}

.turn-form-line button {
    width: 300px;
}

.completed-milestone {
    text-decoration: line-through;
}

/* popups */
.simple-dialog-form {
    display: table;
    border-spacing: 10px;
}

.simple-dialog-form > div {
    display: table-row;
}

.simple-dialog-form button:not(.full-width) {
    width: auto;
}

.simple-dialog-form label,
.simple-dialog-form .label {
    text-align: right;
    vertical-align: middle;
}

.simple-dialog-form input,
.simple-dialog-form select {
    width: 100%;
}

.simple-dialog-form > div > * {
    display: table-cell;
}

.simple-dialog-form-error {
    color: red;
    text-align: center;
}

.kingdom-skill i {
    display: none;
}

.kingdom-skill:hover i {
    display: inline-block;
}

.kingdom-skill:hover span {
    display: none;
}

.activity-help:not([hidden]) {
    display: flex;
}

.activity-help .show-help {
    flex-basis: 0;
    min-width: 34px;
}

#km-kingdom-name {
    width: 250px;
}

.settlement-content {
}

.settlement-content td ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settlement-content > div:first-child {
    flex-basis: 350px;
}

.settlement-content > div:nth-child(2) {
    flex-grow: 1;
}

.km-chat-buttons {
    border-top: 1px solid grey;
    padding: 10px 5px 5px 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#km-add-custom-recipe {
    width: auto;
    float: right;
}

.km-delete-recipe {
    width: auto;
}

.km-gain-lose {
    width: auto;
}

#km-close-help {
    margin-top: 10px;
}

#help-app hr {
    width: 100%;
}

/**
 * Settings
 */
.km-settings-form > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.km-settings-form .form-elements {
    display: flex;
}

.km-settings-form label {
    flex-grow: 1;
    line-height: 28px;
}

.km-settings-form input,
.km-settings-form select {
    max-width: 200px;
}

.km-settings-form .help p {
    color: #4b4a44;
    font-size: 12px;
    margin: 0;
}

/* structure browser */
#km-structure-browser {
    display: flex;
    max-height: 100%;
    gap: 5px;

    .km-nav {
        position: sticky;
        top: 0;
        z-index: 3;
        box-shadow: 0 1px 10px #000;
    }
}

#km-structure-browser-sidebar {
    width: 230px;
    overflow-y: auto;
    max-height: 100%;
}

#km-structure-browser-clear {
    width: calc(100% - 2px);
}


#km-structure-browser-sidebar > div {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

#km-structure-browser-sidebar > div > div {
    margin-left: auto;
}

#km-structure-browser-sidebar > h2 {
    margin-top: 10px;
}

.flex-it {
    display: flex;
}

#km-structure-browser-content {
    --structure-browser-border: #000;
    overflow-y: auto;
    max-height: 100%;
    width: 725px;

    .km-import-structures {
        margin: auto;
        width: auto;
    }

    .km-import-notice {
        margin: auto;
    }

    .error {
        color: red;
    }

    ul {
        list-style-type: none;
    }


    .km-structure-name img {
        height: 100px;
        border: 0;
    }

    .km-structure-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        row-gap: 25px;
        padding: 25px 0;
    }

    .km-structure-list-item {
        border: 1px solid var(--structure-browser-border);

        .km-structure-type {
            border: 1px solid var(--structure-browser-border);
            border-radius: 100%;
            width: 25px;
        }

        h2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            font-weight: bold;
            background-color: var(--secondary-km);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: 0;
            font-size: 16px;
            padding: 5px;
            color: #fff;
            margin: 0;
            line-height: 25px;
        }
    }

    .km-structure-link {
        border-top: 1px solid var(--structure-browser-border);
        background-color: #aaa;
        position: relative;
        width: 200px;
        display: flex;
        height: 200px;

        img {
            border: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .km-lots {
            width: 200px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }

        .km-structure-image[data-lots="2"],
        .km-structure-image[data-lots="4"] {
            width: 200px;
        }

        .km-structure-image[data-lots="1"] {
            width: 100px;
        }
    }

    .km-structure-cost {
        display: flex;
        gap: 8px;
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-top: 1px solid var(--structure-browser-border);

        li {
            display: flex;
            gap: 3px;
        }

        .km-resource-cost {
            align-self: center;
        }

        .km-structure-resource {
            border: 1px solid black;
            border-radius: 100%;
            height: 25px;
        }
    }

    .km-structure-build {
        border-top: 1px solid var(--structure-browser-border);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}


.structure-browser-range {
    display: flex;
    width: 155px;
    gap: 15px;
}

#km-structure-search {
    width: 155px;
}

.structure-browser-range input {
}

.structure-browser-range div {
    flex-grow: 1;
    padding-right: 5px;
}


.proficiency-rank {
    color: white;
    font-size: 12px;

    &:has(option[value="0"]:checked) {
        background-color: var(--untrained);
    }

    &:has(option[value="1"]:checked) {
        background-color: var(--trained);
    }

    &:has(option[value="2"]:checked) {
        background-color: var(--expert);
    }

    &:has(option[value="3"]:checked) {
        background-color: var(--master);
    }

    &:has(option[value="4"]:checked) {
        background-color: var(--legendary);
    }

    option {
        &[value="0"] {
            background-color: var(--untrained);
        }

        &[value="1"] {
            background-color: var(--trained);
        }

        &[value="2"] {
            background-color: var(--expert);
        }

        &[value="3"] {
            background-color: var(--master);
        }

        &[value="4"] {
            background-color: var(--legendary);
        }
    }
}

/* groups */
.negotiation-dc-column {
    width: 104px;
}

.at-war-column {
    width: 52px;
}

.status-details {
    display: flex;
    gap: 1em;
}

.km-notes .editor {
    min-height: 200px;
}

.km-notes .editor-content {
    min-height: 200px;
}

.km-upgrade-result {
    display: none;
}

#km-kingdom-size-help {
    color: white;
}

.camping-effect .content-link {
    vertical-align: middle;
    display: inline-block;
    width: 185px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

/**
 * Skills view
 */
#kingdom-skills-dialog {
    .skill-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        gap: 5px;
    }

    .error {
        color: #a71111;
        text-align: center;
    }
}

.skills-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        height: 34px;
    }
}

#kingdom-add-kingdom-activities {
    .error {
        color: red;
        text-align: center;
    }
}

.strike-through {
    text-decoration: line-through;
}

.km-modifier-pill {
    border: 1px solid #aaa;
    padding: 0 2px;
    border-radius: 5px;
    margin-right: 3px;
    display: inline-block;
    margin-bottom: 3px;
    font-size: 11px;
    line-height: 16px;
}

.km-modifier-breakdown {

}

.km-skill-check-header {
    font-weight: 600;
    line-height: 18px;
    font-size: 12px;
}

.prepare-campsite-notice {
    text-align: center;
    flex-grow: 1;
    align-self: center;
}