<button type="button"
        class="km-add-recipe"
        data-actor-uuid="{{actorUuid}}"
        data-name="{{name}}"
        data-degree="{{degree}}"
>Remove Ingredients {{#if learnRecipe}}& Learn {{name}}{{/if}}
    {{#if criticalFailure}}& Suffer Critical Failure Effect{{/if}}
</button>