<h2>Ending Turn</h2>
<ul>
    <li>Setting Resource Points to 0</li>
    <li>Reducing Modifiers' Turns by 1</li>
    <li>Setting available Supernatural and Creative Solutions to 0</li>
    <li>Adding values from the <b>next</b> columns to the <b>now</b> columns, respecting their resource limits</li>
</ul>