<p data-kingdom-actor-uuid="{{actorUuid}}">Missing {{food}} food commodities. Either
    <button type="button" class="km-gain-lose" data-type="resource-points" data-mode="lose" data-turn="now"
            data-multiple="true" data-value="5">Lose 5 Resource Points
    </button> per missing food commodity or gain
    <button type="button" class="km-gain-lose" data-type="unrest" data-mode="gain" data-turn="now" data-multiple="false"
            data-value="1d4">Gain 1d4 Unrest
    </button>
</p>