<div hidden class="km-upgrade-result"
     data-roll-mode="{{rollMode}}"
     data-activity="{{activityId}}"
     data-degree="{{degree}}"
     data-additional-chat-messages="{{additionalChatMessages}}"></div>