<h2>{{title}}</h2>

<div class="simple-dialog-form">
    {{#if activity}}
        <div>
            <label for="km-applicable-skills">Applicable Skills:</label>
            <select id="km-applicable-skills">
                <option>Magic + 8</option>
            </select>
        </div>
    {{else}}
        <div>
            <label for="km-event-phase-toggle">Event Phase:</label>
            <input id="km-event-phase-toggle" type="checkbox" checked>
        </div>
    {{/if}}
    <div>
        <label for="km-check-dc">DC:</label>
        <input id="km-check-dc" type="number" value="{{dc}}" name="dc">
    </div>
</div>

<h3>Modifier Breakdown</h3>

<table class="km-table">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>Enabled</th>
    </tr>
    <tr>
        <td>Bad Luck haha</td>
        <td>Circumstance Penalty</td>
        <td>-1</td>
        <td><input type="checkbox" checked></td>
    </tr>
</table>

<h3>Custom modifiers</h3>
<table class="km-table">
    <tr>
        <th>Type</th>
        <th>Bonus</th>
        <th>Penalty</th>
    </tr>
    <tr>
        <td>Status</td>
        <td><input type="number" value="0"></td>
        <td><input type="number" value="0"></td>
    </tr>
    <tr>
        <td>Circumstance</td>
        <td><input type="number" value="0"></td>
        <td><input type="number" value="0"></td>
    </tr>
    <tr>
        <td>Item</td>
        <td><input type="number" value="0"></td>
        <td><input type="number" value="0"></td>
    </tr>
</table>

<div class="activity-choice">
    <button type="button" id="km-roll-skill-assurance">Assurance +32 <i class="fa-solid fa-dice-d20"></i></button>
    <button type="button" id="km-roll-skill">Roll +22 <i class="fa-solid fa-dice-d20"></i></button>
</div>
