
<table class="km-table">
    <tr>
        <th>Active Settlement</th>
        <td>
            <select>
                <option>Tuskwater</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Control DC</th>
        <td>16</td>
    </tr>
    <tr>
        <th>Trade Agreements</th>
        <td><input type="number" value="2"></td>
    </tr>
    <tr>
        <th>At War</th>
        <td><input type="checkbox"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Unrest</th>
        <th>Penalty</th>
    </tr>
    <tr>
        <td><input type="number" value="3"></td>
        <td>0</td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Ruin</th>
        <th>Score</th>
        <th>Penalty</th>
        <th>Threshold</th>
    </tr>
    <tr>
        <td>Corruption</td>
        <td><input type="number" value="3"></td>
        <td>0</td>
        <td><input type="number" value="2"></td>
    </tr>
    <tr>
        <td>Crime</td>
        <td><input type="number" value="3"></td>
        <td>0</td>
        <td><input type="number" value="2"></td>
    </tr>
    <tr>
        <td>Decay</td>
        <td><input type="number" value="3"></td>
        <td>0</td>
        <td><input type="number" value="0"></td>
    </tr>
    <tr>
        <td>Strife</td>
        <td><input type="number" value="3"></td>
        <td>0</td>
        <td><input type="number" value="0"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Resources</th>
        <th>Quantity</th>
        <th>Next</th>
    </tr>
    <tr>
        <td>Die Size</td>
        <td>d4</td>
    </tr>
    <tr>
        <td>Dice</td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
    <tr>
        <td>Points</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="3"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Armies</th>
        <th>Settlement</th>
        <th>Total Consumption</th>
    </tr>
    <tr>
        <td><input type="number" valeu="4"></td>
        <td>5</td>
        <td>9</td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Commodity</th>
        <th>Quantity</th>
        <th>Maximum</th>
        <th>Next</th>
    </tr>
    <tr>
        <td>Food</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
    <tr>
        <td>Lumber</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
    <tr>
        <td>Luxuries</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
    <tr>
        <td>Ore</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
    <tr>
        <td>Stone</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="10"></td>
        <td><input type="number" value="3"></td>
    </tr>
</table>
<table class="km-table">
    <tr>
        <th>Worksite</th>
        <th>Quantity</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td>Farmlands</td>
        <td><input type="number" value="3"></td>
        <td></td>
    </tr>
    <tr>
        <td>Lumber Camps</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="2"></td>
    </tr>
    <tr>
        <td>Mines</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="0"></td>
    </tr>
    <tr>
        <td>Quarries</td>
        <td><input type="number" value="3"></td>
        <td><input type="number" value="0"></td>
    </tr>
</table>
