<table class="km-table">
    <tr>
        <th>Charter</th>
        <td><input type="text" value="Expansion"></td>
    </tr>
    <tr>
        <th>Heartland</th>
        <td>
            <select>
                <option>Plains</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Government</th>
        <td><input type="text" value="Oligarchy"></td>
    </tr>
</table>

<table class="km-table">
    <tr>
        <th>Modifier</th>
        <th>Ability</th>
        <th>Score</th>
        <th>Invested</th>
        <th>Status Bonus</th>
    </tr>
    <tr>
        <td>+3</td>
        <td>Culture</td>
        <td><input type="number" value="16"></td>
        <td><input type="checkbox" checked></td>
        <td>+2</td>
    </tr>
    <tr>
        <td>+2</td>
        <td>Economy</td>
        <td><input type="number" value="14"></td>
        <td><input type="checkbox"></td>
        <td>+0</td>
    </tr>
    <tr>
        <td>+0</td>
        <td>Loyalty</td>
        <td><input type="number" value="10"></td>
        <td><input type="checkbox"></td>
        <td>+0</td>
    </tr>
    <tr>
        <td>+0</td>
        <td>Stability</td>
        <td><input type="number" value="10"></td>
        <td><input type="checkbox"></td>
        <td>+0</td>
    </tr>
</table>

<table class="km-table">
    <tr>
        <th>Role</th>
        <th>PC</th>
        <th>Name</th>
        <th>Invested</th>
        <th>Vacant</th>
    </tr>
    <tr>
        <td>Ruler</td>
        <td>
            <select>
                <option>Type</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value="Jake"></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Counselor</td>
        <td>
            <select>
                <option>PC</option>
                <option selected>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td>
            <select>
                <option>Regongar</option>
            </select>
        </td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>General</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Emissary</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Magister</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Treasurer</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Viceroy</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Warden</td>
        <td>
            <select>
                <option>PC</option>
                <option>Companion</option>
                <option>NPC</option>
            </select>
        </td>
        <td><input type="text" value=""></td>
        <td><input type="checkbox" checked></td>
        <td><input type="checkbox"></td>
    </tr>
</table>
