<table class="km-table">
    <tr>
        <th>Group</th>
        <th>Negotiation DC</th>
        <th>State</th>
        <th>Remove/Add</th>
    </tr>
    <tr>
        <td>Luckies</td>
        <td>45</td>
        <td>
            <select>
                <option>Diplomatic Relations</option>
            </select>
        </td>
        <td><button><i class="fa-solid fa-trash"></i></button></td>
    </tr>
    <tr>
        <td><input type="text" placeholder="Group Name"></td>
        <td><input type="number" value="3"></td>
        <td>
            <select>
            <option>None</option>
        </select>
        </td>
        <td>
            <button><i class="fa-solid fa-plus"></i></button>
        </td>
    </tr>
</table>

