name: Test

on:
  push:

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Run build
        run: ./gradlew build
